@media (max-width: 1600px) {
    .why-attend .container{
        max-width: 1200px;
    }
}

@media (max-width: 1450px) {

    .c-clock {
        margin-left: 15px;
    }
    .resp-width{
        width: 500px !important;
    }
    .why-attend .container{
        max-width: 1000px;
    }
    .blue-bg .d1{
        left: -122px;
    width: 28%;
    }
    .banner-box-div{
        height: 85vh !important;
    }
}

@media (max-width: 1366px) {
    .view-page {
        padding-bottom: 10px;
    }
    .adrss-boxes h4{
        font-size: 15px;
    }
    .resp-width{
        width: 500px !important;
    }
    .contact-section .when-cntnd{
        flex-direction: column;
        gap: 5px;
    }
    .ms-md-3 {
        margin-left: 0rem!important;
    }
    .adrss-boxes .social-icons i{
        width: 40px;
        height: 40px;
    }
    .whr-cntnt, .whn-cntnt{
        padding-left: 10px;
    }
    .ticket-card .ticket-head h2{
        font-size: 20px;
    }
    .banner-box-div{
        height: 100vh !important;
    }

}

@media (max-width: 1200px) {
    .clndr-v, .map-v{
        width: 100%;
    }
    .why-attend .container{
        max-width: 900px;
    }
    .blue-bg .d1{
        left: -122px;
        width: 31%;
    }
    .sponsor-div-boxes .sponsor-div {
        width: 200px;
    }
    .sponsor-logo-box img {
        width: 90%;
    }
    .banner-box-div{
        height: 76vh !important;
    }
}

@media (max-width: 1024px) {
    .ticket-card .ticket-head{
        width: 70%;
        padding: 16px 20px;
    }
    .why-attend .container {
        max-width: 800px;
    }
    .blue-bg .d3{
        display: none;
    }
    .blue-bg .d1 {
        left: -102px;
        width: 34%;
    }
    .sponsor-div-boxes .sponsor-div {
        width: 215px;
    }
    .ticket-card .ticket-head h2 {
        font-size: 18px;
    }
    .banner-box-div {
        height: 48vh !important;
    }
}

@media (max-width: 768px) {
    .registr-btn {
        background: #ffffff;
        margin-top: 20px;
    }
    .navbar-brand img{
        margin-right: 0px;
    }
    .view-box1{
        margin: 20px 0px;
    }
    .blue-bg{
        border-radius: 10px 10px 0px 0px;
    }
    .img-box{
        border-radius: 0px 0px 10px 10px;
    }
    .when, .where{
        height: auto;
    }
    .whr-cntnt, .whn-cntnt{
        padding: 20px;
    }
    .days1{
        padding-top: 80px;
    }
    .get-in{
        margin-top: 30px;
    }
    .nav-regst-btn a button {
        float: left;
        margin-top: 10px;
    }
    .navbar{
        position: absolute;
        top: 25px;
        left: 10px;
        right: 10px;
    }
    .ticket-box{
        display: flex;
    justify-content: space-between;
    }
    .ticket-box h2{
        margin-bottom: 0px;
    }
    .ticket-box h4 span{
        width: auto;
    }
    .register-box-div{
        margin-top: 110px;
    }
    .ticket-card .ticket-head h2 {
        font-size: 20px;
    }
    .ticket-card .ticket-head {
        padding: 12px 15px;
        width: 70%;
    }
    .ticket-body {
        padding: 0px 12px;
    }
    .ticket-body h6 {
        font-size: 14px;
    }
    .register-btn-outline{
        padding: 4px 25px;
        font-size: 14px;
    }
    .tcket-modal-body{
        max-height: 500px;
        overflow-y: auto;
    }
    .agenda-tab .nav-link{
        margin-right: 0px;
        padding: 10px;
    }
    .inner-heading{
        margin-top: 175px;
    }
    .blue-bg .d1{
        display: none;
    }
    .why-attend .container {
        max-width: 700px;
    }
    .blue-bg{
        padding: 50px 30px 50px 30px !important;
    text-align: left !important;
    }
    .sponsor-div-boxes{
        justify-content: flex-start;
    }
    .blue-bg .d2{
        display: none;
    }
    .banner-box-div .navbar-toggler-icon{
        filter: invert(1);
    }
    .main-nav .navbar-brand{
        margin-right: 10px !important;
    }
    .resp-width .nav-item{
        margin-left: 15px;
    }
    .nav-regst-btn{
        margin-left: 15px !important;
    }
    .ticket-card .ticket-head {
        padding: 15px 15px;
        width: 75%;
    }
    .banner-box-div .navbar{
        padding-left: 10px;
    }
    .reg-btn-mob{
        display: block;
        position: absolute;
        bottom: 3%;
    }
    .reg-btn-mob .book-button{
        padding: 12px 50px;
        font-size: 18px;
    }
    .rasam1{
        display: none;
    }
    .rasam2{
        display: block;
        width: 100%;
        object-fit: cover;
    }
    .banner-box-div {
        height: 100vh !important;
    }

}

@media (max-width: 767px) {
    .navbar {
        padding: 5px 0px 8px;
        top: 15px;
         z-index: 1000 !important;
    }
    .map-main-2 iframe {
        height: 350px;
        margin-top: 0px;
        border-radius: 0px;
    }
    .cermonies h1 {
        font-size: 35px;
    }
    .cermonies {
        margin-top: 105px;
    }
    .date-time {
        display: flex !important;
        flex-direction: column;
        padding: 10px;
        margin: 0;
    }
    .date-time h3 {
        font-size: 20px;
    }
    .clock img,
    .clndr img {
        height: 20px;
    }
    .blue-bg {
        border-radius: 10px;
        padding: 30px;
    }
    .blue-bg h2 {
        font-size: 30px;
    }
    .blue-bg h5 {
        font-size: 13px;
    }
    .blue-bg h4 {
        font-size: 16px;
    }
    .blue-bg p {
        font-size: 12px;
    }
    .event-img {
        margin-top: 60px;
    }
    .img-box {
        min-height: 400px;
        border-radius: 10px;
        margin-top: 15px;
    }
    .background-all {
        height: auto;
    }
    .view-box1 h2 {
        font-size: 30px;
    }
    .view-box1 {
        margin-bottom: 45px;
    }
    .count-bg {
        min-height: 266px;
    }
    .days1 h3 {
        font-size: 30px;
    }
    .time .number {
        height: 50px;
        width: 50px;
        font-size: 20px;
    }
    .time .text {
        font-size: 15px;
    }
    .days1 {
        padding-top: 3rem;
    }
    .days1 h5 {
        font-size: 14px;
    }
    .whn-cntnt {
        text-align: center;
        padding: 0px 25px 25px 25px
    }
    .i-clndr {}
    .i-clndr,
    .i-clock {
        display: flex !important;
        flex-direction: row;
        justify-content: center;
    }
    .i-clock {
        margin-top: 10px;
    }
    .when-cntnd {
        display: flex !important;
        flex-direction: column;
        align-items: center;
    }
    .when {
        height: auto;
    }
    .where {
        height: auto;
    }
    .whr-cntnt {
        align-items: center;
        display: flex !important;
        flex-direction: column;
        text-align: center;
        padding: 0px 25px 25px 25px
    }
    .get-in {
        margin-top: 35px;
        height: auto;
        box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.10);
    }
    .venue h2 {
        font-size: 30px;
    }
    #contact h3 {
        font-size: 35px;
    }
    .map-v {
        width: auto;
    }
    .clndr-v {
        width: auto;
    }
    /* .footer{
    padding-top: 30px;
} */
    .book-btn-2 {
        margin-top: 20px;
    }
    .c-clndr i,
    .c-clock i {
        margin-right: 10px;
    }
    .c-clock {
        margin-top: 10px;
    }
    .container .time-content {
        padding: 1rem 2rem 3rem 2rem;
        column-gap: 35px;
    }
    .navbar-toggler-icon {
        display: inline-block;
        width: 22px;
        height: 22px;
    }
    .navbar-brand img {
        width: 145px;
        margin-right: 50px;
        padding-left: 10px;
    }
    .resp-width{
        width: 100% !important;
        padding-left: 10px;
        padding-top: 10px;
    }
    .resp-width .nav-link{
        margin-right: 0px;
        margin-left: 0px;
        font-size: 14px;
        padding: 5px 0px;
    }
    .navbar-toggler {
        border: 0px;
    }
    .contact-section {
        padding: 50px 0px;
    }
    /* aganda page */
    .background-inner {
        background-size: cover !important;
        height: 370px;
        overflow: hidden;
        background-position: 50%;
    }
    .inner-heading h1 {
        font-size: 35px;
    }
    .agenda-tab {
        margin-right: 0px !important;
    }
    .agenda-tab .nav-link {
        margin-right: 0px;
    }
    .listing {
        display: flex!important;
        flex-direction: column;
    }
    .agenda-section {
        padding: 50px 0px !important;
    }
    .agenda-timeline {
        margin-top: 20px;
    }
    /* venue page */
    .venue-section .venue {
        padding: 30px;
    }
    .venue-section {
        padding: 15px 0px 15px;
    }
    .venue-section .clndr-v {
        margin: 15px;
    }
    .venue-section .map-v {
        margin: 15px;
    }
    .venue-section .whn-cntnt {
        padding-left: 25px;
        margin: auto;
    }
    .book-btn {
        /* margin: 0px; */
    }
    .social-icons {
        text-decoration: none;
    }
    .speaker-section {
        padding: 50px 0px 50px;
    }
    .ticket-section {
        padding: 30px;
    }
    .nav .book-button {
        margin-top: 10px;
        margin-left: 10px;
    }
    .book-button{
        padding: 10px 20px;
        font-size: 14px;
        line-height: 14px;
    }
    .registr-btn {
        margin-top: 17px;
        padding: 3px 0px;
    }
    .speaker-section .speaker-div{
        margin: 0px 0px 35px;
    }
    .sponsor-div{
        margin: 0px 0px 25px;
    }
    .not-published .cermonies h1 {
        font-size: 25px;
    }

    .not-published .cermonies img {
        width: 250px;
    }
    .c-clock i {
        margin-left: 0px;
    }
    .view-page {
        padding-bottom: 30px;
    }
    .inner-heading {
        margin-top: 140px;
    }
    .category-heading{
        margin-bottom: 30px;
    }
    .ticket-card {
        margin-bottom: 25px;
    }
    .register-box-div{
        margin-top: 100px;
    }
    .ticket-modal-form{
        margin-bottom: 15px;
    }
    .tickt-modal-line {
        margin: 10px 0px 20px;
    }
    .tickt-modal-head {
        margin-bottom: 15px;
        margin-top: 10px !important;
    }

}

@media (max-width: 500px) {
    .date-time h3 {
        font-size: 18px;
    }
    .social-icons i, .social-icons .fa-twitter {
        width: 42px;
        height: 42px;
    }
    .blue-bg h2 {
        font-size: 28px;
        font-weight: 700;
    }
    .sponsor-maindiv {
        padding: 15px 0px 0px;
    }
    .sponsor-maindiv h3{
        font-size: 22px;
    margin-bottom: 15px;
    }
    .sponsor-div {
        margin: 0px 0px 15px;
    }
    .sponsor-logo-box {
        height: 90px;
        padding: 25px;
    }
    .contact-section {
        padding: 0px 0px 10px 0px;
    }
    .venue{
        padding: 20px;
    }
    .venue h2 {
        font-size: 28px;
    }
    .venue h6{
        font-size: 15px;
    }
    .when-h3{
        font-size: 23px;
    }
    .when-cntnd h3{
        font-size: 15px;
    }
    .location {
        font-size: 16px;
    }
    #contact {
        padding: 20px;
    }
    #contact h3 {
        font-size: 28px;
    }
    #contact h4 {
        font-size: 15px;
    }
    .get-in label {
        font-size: 14px;
        margin-bottom: 6px;
    }
    #contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea{
        padding: 7px 15px;
        font-size: 14px;
    }
    .icons{
        padding-top: 30px;
    }
    .inner-heading h1 {
        font-size: 35px;
        margin-bottom: 25px;
    }
    .agenda-section {
        padding: 40px 0px !important;
    }
    .agenda-col2 .agenda-details{
        padding: 15px 20px;
    }
    .agenda-col2 .agenda-details h5 {
        font-size: 16px;
        font-weight: 700;
        line-height: 23px;
    }
    .ticket-box{
        display: block;
        padding: 15px 20px;
    }
    .register-box-div {
        margin-top: 60px;
        padding: 15px 20px;
        border-radius: 10px;
    }
    .register-head h2 {
        font-size: 28px;
    }
    .ticket-box h2 {
        margin-bottom: 15px;
    }
    .ticket-box h4 span {
        width: 80px;
    }
    .registr-btn {
        margin-top: 10px;
    }
    .adrss-boxes h5{
        margin-bottom: 5px;
    }
    .tickt-descrptn p{
        font-size: 14px;
        font-weight: 300;
        margin-top: 10px;
    }
    .footer-1 {
        padding-bottom: 25px;
    }
    .copyright{
        margin-top: 20px;
    font-weight: 300;
    }
    .ticket-box h4{
        margin-bottom: 10px;
    }
    .ticket-card .ticket-head {
        padding: 15px 15px;
        width: 75%;
    }
    .ticket-body h6 {
        font-size: 15px;
    }
    .mob-agenda{
        display: block;
    }
    .lap-agenda{
        display: none;
    }
    .agenda-col1 h5{
        font-size: 18px;
    }
    .resp-width .nav-item {
        margin-left: 0px;
    }
    .nav-regst-btn {
        margin-left: 0px !important;
        margin-bottom: 10px;
    }
    .why-attend .container {
        max-width: 100%;
    }
    .sponsor-div-boxes .sponsor-div {
        width: 50%;
    }
    .sponsor-logo-box {
        height: 65px;
        padding: 10px;
    }
    .blue-bg {
        padding: 40px 30px 30px 30px !important;
    }
    .event-img {
        margin-bottom: 60px !important;
    }
    .banner-box-div .navbar {
        padding-left: 12px;
    padding-right: 10px;
    padding-top: 11px;
    padding-bottom: 14px;
    }
    .banner-box-div .navbar .navbar-brand{
        padding: 0px;
    }
    .dang-alert, .succ-alert{
        width: 85%;
    }
    .reg-btn-mob .book-button {
        padding: 12px 35px;
        font-size: 16px;
    }
    .reg-btn-mob{
        bottom: 10%;
    }
   
}

@media only screen and (max-width: 413px) and (min-width: 200px) {}