@media (max-width: 1600px) {

}

@media (max-width: 1450px) {

    .c-clock {
        margin-left: 15px;
    }
    .resp-width{
        width: 500px !important;
    }
}

@media (max-width: 1366px) {
    .view-page {
        padding-bottom: 10px;
    }
    .adrss-boxes h4{
        font-size: 15px;
    }
    .resp-width{
        width: 500px !important;
    }
    .contact-section .when-cntnd{
        flex-direction: column;
        gap: 5px;
    }
    .ms-md-3 {
        margin-left: 0rem!important;
    }
    .adrss-boxes .social-icons i{
        width: 40px;
        height: 40px;
    }
    .whr-cntnt, .whn-cntnt{
        padding-left: 10px;
    }

}

@media (max-width: 1200px) {
    .clndr-v, .map-v{
        width: 100%;
    }
}

@media (max-width: 768px) {
    .registr-btn {
        background: #ffffff;
        margin-top: 20px;
    }
    .navbar-brand img{
        margin-right: 0px;
    }
    .view-box1{
        margin: 20px 0px;
    }
    .blue-bg{
        border-radius: 10px 10px 0px 0px;
    }
    .img-box{
        border-radius: 0px 0px 10px 10px;
    }
    .when, .where{
        height: auto;
    }
    .whr-cntnt, .whn-cntnt{
        padding: 20px;
    }
    .days1{
        padding-top: 80px;
    }
    .get-in{
        margin-top: 30px;
    }

}

@media (max-width: 767px) {
    .navbar {
        padding: 12px 0px;
        position: absolute;
        width: 94%;
        top: 40px;
         z-index: 1000 !important;
    }
    .map-main-2 iframe {
        height: 350px;
        margin-top: 0px;
        border-radius: 0px;
    }
    .cermonies h1 {
        font-size: 35px;
    }
    .cermonies {
        margin-top: 120px;
    }
    .date-time {
        display: flex !important;
        flex-direction: column;
        padding: 10px;
        margin: 0;
    }
    .date-time h3 {
        font-size: 20px;
    }
    .clock img,
    .clndr img {
        height: 20px;
    }
    .blue-bg {
        border-radius: 10px;
        padding: 30px;
    }
    .blue-bg h2 {
        font-size: 30px;
    }
    .blue-bg h5 {
        font-size: 13px;
    }
    .blue-bg h4 {
        font-size: 16px;
    }
    .blue-bg p {
        font-size: 12px;
    }
    .event-img {
        margin-top: 60px;
    }
    .img-box {
        min-height: 400px;
        border-radius: 10px;
        margin-top: 15px;
    }
    .background-all {
        height: auto;
    }
    .view-box1 h2 {
        font-size: 30px;
    }
    .view-box1 {
        margin-bottom: 45px;
    }
    .count-bg {
        min-height: 266px;
    }
    .days1 h3 {
        font-size: 30px;
    }
    .time .number {
        height: 50px;
        width: 50px;
        font-size: 20px;
    }
    .time .text {
        font-size: 15px;
    }
    .days1 {
        padding-top: 3rem;
    }
    .days1 h5 {
        font-size: 14px;
    }
    .whn-cntnt {
        text-align: center;
        padding: 0px 25px 25px 25px
    }
    .i-clndr {}
    .i-clndr,
    .i-clock {
        display: flex !important;
        flex-direction: row;
        justify-content: center;
    }
    .i-clock {
        margin-top: 10px;
    }
    .when-cntnd {
        display: flex !important;
        flex-direction: column;
        align-items: center;
    }
    .when {
        height: auto;
    }
    .where {
        height: auto;
    }
    .whr-cntnt {
        align-items: center;
        display: flex !important;
        flex-direction: column;
        text-align: center;
        padding: 0px 25px 25px 25px
    }
    .get-in {
        margin-top: 35px;
        height: auto;
        box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.10);
    }
    .venue h2 {
        font-size: 30px;
    }
    #contact h3 {
        font-size: 35px;
    }
    .map-v {
        width: auto;
    }
    .clndr-v {
        width: auto;
    }
    /* .footer{
    padding-top: 30px;
} */
    .book-btn-2 {
        margin-top: 20px;
    }
    .c-clndr i,
    .c-clock i {
        margin-right: 10px;
    }
    .c-clock {
        margin-top: 10px;
    }
    .container .time-content {
        padding: 1rem 2rem 3rem 2rem;
        column-gap: 35px;
    }
    .navbar-toggler-icon {
        display: inline-block;
        width: 22px;
        height: 22px;
    }
    .navbar-brand img {
        width: 100px;
        margin-right: 50px;
        padding-left: 10px;
    }
    .navbar-toggler {
        border: 0px;
    }
    .contact-section {
        padding: 50px 0px;
    }
    /* aganda page */
    .background-inner {
        background-size: cover !important;
        height: 370px;
        overflow: hidden;
    }
    .inner-heading h1 {
        font-size: 35px;
    }
    .agenda-tab {
        margin-right: 0px !important;
    }
    .agenda-tab .nav-link {
        margin-right: 0px;
    }
    .listing {
        display: flex!important;
        flex-direction: column;
    }
    .agenda-section {
        padding: 50px 0px !important;
    }
    .agenda-timeline {
        margin-top: 20px;
    }
    /* venue page */
    .venue-section .venue {
        padding: 30px;
    }
    .venue-section {
        padding: 15px 0px 15px;
    }
    .venue-section .clndr-v {
        margin: 15px;
    }
    .venue-section .map-v {
        margin: 15px;
    }
    .venue-section .whn-cntnt {
        padding-left: 25px;
        margin: auto;
    }
    .book-btn {
        /* margin: 0px; */
    }
    .social-icons {
        text-decoration: none;
    }
    .speaker-section {
        padding: 50px 0px 50px;
    }
    .ticket-section {
        padding: 30px;
    }
    .nav .book-button {
        margin-top: 10px;
    }
    .registr-btn {
        margin-top: 17px;
        padding: 3px 0px;
    }
    .speaker-section .speaker-div{
        margin: 0px 0px 35px;
    }
    .sponsor-div{
        margin: 0px 0px 25px;
    }
    .not-published .cermonies h1 {
        font-size: 25px;
    }

    .not-published .cermonies img {
        width: 250px;
    }
    .c-clock i {
        margin-left: 0px;
    }
    .view-page {
        padding-bottom: 30px;
    }
    .inner-heading {
        margin-top: 140px;
    }
    .category-heading{
        margin-bottom: 30px;
    }
    .ticket-card {
        margin-bottom: 25px;
    }
    .register-box-div{
        margin-top: 100px;
    }
    .ticket-modal-form{
        margin-bottom: 15px;
    }
    .tickt-modal-line {
        margin: 10px 0px 20px;
    }
    .tickt-modal-head {
        margin-bottom: 15px;
        margin-top: 10px !important;
    }
}

@media only screen and (max-width: 413px) and (min-width: 200px) {}