@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
:root {
    --main-font: 'Cairo', sans-serif;
    --button-colors: #181818;
    --small-tagline-color: #726B6B;
    --discription-color1: #777777;
    --black-color: #000000;
    --black-color: #000000;
    --white-color: #ffffff;
    --home-about-bg: #EAE9E7;
    --light-backgound: #F5F5F5;
    --active-color: #3B65EF;
    --border-colors: #DEDEDE;
    --head-label: #383838;
    --view-more: #737373;
}

html {
    overflow-x: hidden !important;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: var(--main-font);
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #b2292d;
}
.loader-box{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    background-color: #fff;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-box img{
    width: 200px;
}


/* navbar */

.navbar {
    background-color: var(--white-color);
    transition: 1s;
    padding: 16px 12px;
    border: 1px solid #ebebeb;
    border-radius: 12px;
}

.navbar-brand img {
    width: 200px;
    margin-right: 50px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #353535;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
}

.nav-link {
    margin-right: 14px;
    font-weight: 600;
    color: #201f1f;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
    color: var(--active-color);
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--active-color);
}

.book-button {
    color: white;
    background-color: #b2292d;
    border: none;
    border-radius: 4px;
    padding: 5px;
    padding: 8px 25px;
}

.book-button:hover {
    background-color: #000000;
    transition: 1s;
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 1.5rem;
        padding-left: 0.5rem;
    }
}


/* close navabar */

.background-all {
    background-image: url(../images/2.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 30px;
}

.cermonies {
    text-align: center;
    margin-top: 110px;
}

.cermonies h1 {
    font-weight: bold;
    font-size: 60px;
    color: white;
    letter-spacing: 5px;
}

.date-time {
    margin-top: 30px;
    color: white;
}

.date-time h3 {
    font-weight: 600;
    margin: 0;
}

.clndr {
    margin-right: 20px;
}

.clock {
    margin-right: 20px;
    margin-left: 25px;
}

.follow {
    margin-top: 25px;
    text-align: center;
}

.follow h3 {
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.book-btn-2 {
    margin-top: 40px;
    gap: 10px;
}

.blue-bg {
    background-color: #ffffff;
    color: #222;
    border-radius: 10px 0px 0px 10px;
    padding: 80px 80px;
    display: flex;
    align-items: center;
}

.img-box {
    background-color: #fff;
    border-radius: 0px 10px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-box img{
    width: 100%;
}

.event-img {
    margin-top: 100px;
}

.blue-bg h5 {
    font-size: 15px;
}

.blue-bg h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 25px;
}

.blue-bg h4 {
    font-size: 20px;
    margin-bottom: 20px;
}

.blue-bg p {
    font-size: 14px;
    font-weight: 100;
    line-height: 185.2%;
}

.content span {
    color: #b2292d;
}

.view-box1,
.view-box2,
.view-box3 {
    height: 360px;
    background-color: white;
    border-radius: 16px;
    text-align: center;
}

.gif1 img {
    width: 150px;
    margin-bottom: -20px;
    margin-top: 30px;
}

.gif2 img {
    width: 320px;
    margin-top: 30px;
}

.gif3 img {
    margin-top: 30px;
    width: 185px;
    margin-bottom: -50px;
}

.view-box1 {
    background-image: url(../images/viewbox-abstract.svg);
    background-repeat: no-repeat;
    object-fit: cover;
}

.view-box1 h4 {
    font-size: 16px;
    margin-bottom: 35px;
    color: #666666;
    font-weight: 400;
}

.view-box1 h2 {
    margin-top: 28px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 25px;
}

.view-spkr {
    color: white;
    background-color: #b2292d;
    border: none;
    border-radius: 4px;
    padding: 8px 25px;
    transition: 1s;
}

.view-spkr:hover {
    background-color: #000000;
    transition: 1s;
}

.view-page {
    margin-top: 80px;
}

.venue {
    height: auto;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.10);
    padding: 30px;
}

.venue h2 {
    font-weight: 700;
    font-size: 35px;
}

.get-in {
    height: 100%;
    border-radius: 14px;
    background: #FFF;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.15);
}

.when {
    height: 165px;
    border-radius: 14px;
    border: 1px solid #EBEBEB;
    background: #FAFAFA;
    margin-bottom: 15px;
}

.where {
    height: 165px;
    border-radius: 14px;
    border: 1px solid #EBEBEB;
    background: #FAFAFA;
    margin-bottom: 16px;
}

.clndr-v {
    border-radius: 11px;
    border: 1px solid #EBEBEB;
    background: #FFF;
    height: 132px;
    width: 147px;
    margin: 15px;
    text-align: center;
}

.map-v {
    border-radius: 11px;
    border: 1px solid #EBEBEB;
    background: #FFF;
    height: 132px;
    width: 147px;
    margin: 15px;
    text-align: center;
}

.clndr-v img {
    width: 90px;
}

.map-v img {
    width: 90px;
}

.map-main iframe {
    border-radius: 15px;
    height: 202px;
}

.map-main-2 iframe {
    border-radius: 15px;
    height: 550px;
    margin-top: 30px;
}

.when-h3 {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 12px;
}

.when-cntnd h3 {
    font-weight: 600;
    font-size: 16px;
    margin: 0;
}

.when-cntnd i {
    margin-right: 10px;
}

.address {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #666;
    margin-bottom: 0px;
}

.location {
    font-size: 18px;
    margin-bottom: 10px;
}

.venue h6 {
    color: #666;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.whr-cntnt {
    /* padding-top: 20px; */
}

.whn-cntnt {
    /* padding-top: 20px; */
}

.add-clndr {
    border-radius: 4px;
    border: 1px solid #EBEBEB;
    background: #FFF;
    font-size: 15px;
    color: #b2292d;
    margin-top: 15px;
    padding: 6px 20px;
    transition: 1s;
}

.add-clndr:hover {
    background-color: #b2292d;
    color: white;
    transition: 1s;
}


/* get in touch input field */

.contact-section {
    padding: 80px 0px;
}

#contact {
    padding: 30px;
}

#contact h3 {
    color: #282A39;
    font-weight: 700;
    font-size: 35px;
}

#contact h4 {
    margin: 15px 0 20px;
    font-size: 18px;
}

fieldset {
    margin: 0 0 10px;
    padding: 0;
    width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
    width: 100%;
    border: 1px solid var(--Gray-5, #E0E0E0);
    background: #FFF;
    margin: 0 0 5px;
    padding: 7px 20px;
    border-radius: 5px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #AAA;
}

#contact textarea {
    height: 80px;
    max-width: 100%;
    resize: none;
}

#contact-submit {
    cursor: pointer;
    border: none;
    background: #b2292d;
    color: #FFF;
    margin: 0 0 5px;
    padding: 8px 40px;
    font-size: 15px !important;
    border-radius: 3px;
    transition: 1s;
}

#contact-submit:hover {
    background: var(--black-color);
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact-submit:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #999;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}

.get-in label {
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 600;
    color: #333;
}

.footer-1 {
    padding-bottom: 40px;
    background: #000;
}

.footer-1 a {
    margin-left: 8px;
    margin-right: 8px;
}

.icons {
    font-size: 20px;
    padding-top: 60px;
}

.copyright {
    color: #A7A7A7;
    ;
    margin-top: 25px;
}

.book-btn {
    border-radius: 38px;
    background: #ffffff;
    padding: 8px 28px;
    border: none;
    font-weight: 600;
    color: #222222
    margin-right: 10px;
    transition: 1s;
}

.book-btn:hover {
    background: #b2292d;
    color: #ffffff;
    transition: 1s;
}

.social-icons .fa-twitter {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #EBEBEB;
    margin-right: 10px;
}

.social-icons a {
    text-decoration: none;
}

.social-icons i {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #EBEBEB;
    margin-right: 10px;
    transition: 1s;
    cursor: pointer;
}

.social-icons i:hover {
    background-color: #000;
    color: white !important;
    transition: 1s;
}

.social-icons {
    padding-top: 10px;
}

.footer-1 .icons i:hover {
    color: #b2292d !important;
    transition: 1s;
}

/* .count-bg {
    background-image: url(../images/count-bg.svg);
    width: 100%;
    min-height: 500px;
    background-size: cover;
} */

.container .time-content {
    display: flex;
    column-gap: 50px;
    align-items: center;
    padding: 2rem 2.5rem;
}

.time-content .time {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.time .number {
    font-weight: 700;
    font-size: 47px;
    line-height: 1;
    color: #282A39;
    height: 120px;
    width: 120px;
    background-color: #EBEBEB;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.time .text {
    text-transform: capitalize;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    margin-top: 7px;
}

.days1 {
    text-align: center;
    padding-top: 115px;
}

.days1 h3 {
    color: white;
    font-weight: 700;
    font-size: 40px;
}

.days1 h5 {
    color: white;
    font-size: 16px;
    font-weight: 400;
}


/* agenda page */

.background-inner {
    background-image: url(../images/bann.jpg);
    width: 100%;
    height: 450px;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 30px;
    background-position: 0px 27%;
}

.inner-heading {
    text-align: center;
    margin-top: 85px;
}

.inner-heading h1 {
    font-weight: bold;
    font-size: 60px;
    color: white;
}

.book-btn-outline {
    border-radius: 38px;
    background: #000;
    padding: 8px 28px;
    border: none;
    font-weight: 600;
    color: #ffffff;
    margin-right: 10px;
    transition: 1s;
}

.book-btn-outline:hover {
    background-color: #b2292d;
    transition: 1s;
}

.agenda-section {
    padding: 100px 0px;
}

.agenda-tab .nav-link.active,
.agenda-tab .show>.nav-link {
    background-color: #b2292d;
    border: 1px solid #b2292d;
}

.agenda-tab .nav-link {
    border: 1px solid #fff;
    margin-bottom: 15px;
    color: #222;
    box-shadow: 0px 0px 6px rgb(0 0 0 / 9%);
}

.agenda-days h5 {
    margin-top: 3px;
    font-weight: 700;
    font-size: 23px;
}

.agenda-days h6 {
    font-size: 15px;
    color: #888;
}

.agenda-tab .nav-link.active h6 {
    color: #ffffff;
}

.avatar-group {
    margin-top: 13px;
    padding-left: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.avatar-group .avatar-group-item {
    margin-left: -12px;
    border: 2px solid #fff;
    border-radius: 50%;
    -webkit-transition: all .2s;
    transition: all .2s
}

.avatar-group .avatar-group-item:hover {
    position: relative;
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px)
}

.avatar-xs {
    height: 1.8rem;
    width: 1.8rem;
}

.font-size-16 {
    font-size: 16px !important;
}

.avatar-title {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #556ee6;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 500;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}

.verti-timeline {
    border-left: 1px dashed #ddd;
    margin: 0 10px;
    width: 100%;
}

.verti-timeline .event-list {
    position: relative;
    padding: 0 0 25px 30px;
    width: 100%;
}

.verti-timeline .event-list .event-timeline-dot {
    position: absolute;
    left: -9px;
    top: 0px;
    z-index: 9;
    font-size: 16px;
}

.event-timeline-dot i {
    background-color: white;
    color: #b2292d;
    font-size: 18px;
}

.verti-timeline .event-list:last-child {
    padding-bottom: 0
}

.agenda-col1 h5 {
    font-size: 20px;
    font-weight: 700;
    margin-right: 60px;
    color: #222;
}

.agenda-col2 .agenda-details {
    background: #f3f7ff;
    padding: 20px 25px;
    border-radius: 5px;
}

.agenda-col2 .agenda-details h5 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #222;
}

.agenda-col2 .agenda-details h6 {
    font-size: 14px;
    color: #495057;
    font-weight: 600;
}

.agenda-col2 .agenda-details h6 i {
    margin-right: 6px;
    color: #b2292d;
    width: 15px;
    text-align: center;
}

.hash-tags {
    margin-top: 5px;
}

.hash-tags a {
    margin-right: 5px;
    text-decoration: none;
    font-size: 14px;
}


/* venue page */

.venue-section {
    padding: 100px 0px 30px;
}

.venue-section .venue {
    box-shadow: none;
    padding: 0px;
}

.venue-section .clndr-v {
    width: 100%;
    margin: 15px 0px 15px 15px;
}

.venue-section .whn-cntnt {
    padding-left: 0px;
}

.venue-section .map-v {
    width: 100%;
    margin: 15px 0px 15px 15px;
}

.venue-section .map-v img {
    width: 65px;
}

.venue-section .clndr-v img {
    width: 65px;
}

.map-section iframe {
    margin-bottom: -10px;
}


/* speaker page */

.speaker-section {
    padding: 100px 0px 80px;
}

.avatar-lg {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin: auto;
    display: block;
}

.speaker-section .speaker-div {
    padding: 35px 20px;
    background: #fff;
    border-radius: 8px;
    margin: 40px 0px;
    cursor: pointer;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.10);
}



.speaker-section .speaker-col2 h5 {
    font-size: 18px;
    font-weight: 700;
    margin: 10px 0px;
    text-align: center;
}

.speaker-section .speaker-col2 h6 {
    font-size: 14px;
    color: #333;
    font-weight: 600;
    margin-bottom: 3px;
    text-align: center;
}

.modal-header {
    border-bottom: 0px !important;
}

.modal-header .btn-close {
    border: 0px !important;
    outline: none !important;
    font-size: 12px;
    padding: 20px 10px 0px;
}

.modal-header .btn-close:focus {
    box-shadow: none !important;
}

.speaker-modal-profile {
    text-align: center;
}

.speaker-modal-profile h5 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
}

.speaker-modal-profile h6 {
    font-size: 15px;
    margin-bottom: 3px;
}

.social-media {
    display: flex;
    justify-content: center;
    margin: 15px 0px;
}

.social-media a {
    text-decoration: none;
}

.social-media a i:hover {
    background-color: #b2292d !important;
    transition: 1s;
}

.social-media i {
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-right: 5px;
    transition: 1s;
}

.bg-pink {
    background-color: #e83e8c;
}

.modal {
    padding: 0px !important;
    margin: 0px !important;
}

.modal-body {
    padding: 0px 30px 30px;
}

.speaker-modal-content h5 {
    font-size: 18px;
    font-weight: 700;
}

.speaker-modal-content p {
    font-size: 15px;
    color: #74788d;
    font-weight: 400;
    letter-spacing: .2px;
}

.session-div {
    background: #f3f7ff;
    padding: 20px;
    border-radius: 5px;
    margin: 7px 0px;
}

.session-div h4 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}

.session-div h6 {
    font-size: 14px;
    color: #495057;
    font-weight: 600;
}

.session-div h6 i {
    margin-right: 6px;
    color: #b2292d;
    width: 15px;
    text-align: center;
}

.session-div p {
    color: white;
    background-color: #3084ff;
    width: max-content;
    padding: 3px 10px;
    line-height: 17px;
    font-size: 13px;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 0px;
}


/* ticket page */

.ticket-section {
    padding: 100px 0px 80px;
}

.ticket-section h2 {
    font-weight: 700;
    font-size: 35px;
}

.ticket-section h6 {
    color: #666;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.ticket-card {
    box-shadow: 0px 0px 9px rgb(0 0 0 / 10%);
    border-radius: 10px;
    text-align: center;
    padding-bottom: 40px;
    margin-bottom: 20px;
}

.ticket-card .ticket-head {
    margin: 0 auto;
    padding: 16px 25px;
    border-radius: 0px 0px 10px 10px;
    width: 70%;
}

.ticket-card .ticket-head h2 {
    font-size: 22px;
    color: white;
    margin-bottom: 0px;
}

.ticket-card h3 {
    font-size: 22px;
    font-weight: 700;
    margin: 15px 0px 10px;
}

.ticket-card h5 {
    font-size: 15px;
    color: #555;
    margin-bottom: 25px;
}

.ticket-body {
    padding: 0px 30px;
    /* text-align: left; */
    margin-bottom: 30px;
}

.ticket-body h6 {
    color: #888;
    margin-bottom: 12px;
    font-weight: 300;
}

.ticket-body h6 i {
    margin-right: 6px;
    color: #4dbd00;
    width: 15px;
}

.register-btn-outline {
    border-radius: 38px;
    background: transparent;
    padding: 6px 28px;
    border: none;
    font-weight: 600;
    font-size: 15px;
    margin-right: 10px;
    transition: 1s;
}

.register-btn-outline:hover {
    color: #fff !important;
    transition: 1s;
}

.ticket-platinum .register-btn-outline {
    border: 1px solid #0d6efd;
    color: #0d6efd;
}

.ticket-platinum .register-btn-outline:hover {
    background: #0d6efd;
}

.ticket-silver .register-btn-outline {
    border: 1px solid #0dcaf0;
    color: #0dcaf0;
}

.ticket-silver .register-btn-outline:hover {
    background: #0dcaf0;
}

.ticket-gold .register-btn-outline {
    border: 1px solid #e83e8c;
    color: #e83e8c;
}

.ticket-gold .register-btn-outline:hover {
    background: #e83e8c;
}

.c-clndr i {
    margin-right: 10px;
    font-size: 20px;
}

.c-clock i {
    margin-right: 10px;
    margin-left: 20px;
    font-size: 20px;
}
/* bishru */
.register-box-div{
    background-color: white;
    border-radius: 16px;
    margin-top: 20px;
    padding: 15px 30px;
}
.register-head img{
    width: 130px;
}
.register-head h2{
    font-size: 30px;
    font-weight: 700;
    color: #222;
}
.register-head h5{
    margin: 10px 0px 0px;
    font-size: 18px;
    color: #222;
    font-weight: 600;
}
.head-border-line{
    border: 1px solid #ebebeb;
    margin-top: 12px;
}
.ticket-counter{
    width: 60px ;
}
.ticket-box{
    background: #ffffff;
    box-shadow: 2px 2px 9px rgb(226 235 255);
    border-radius: 0px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    border-radius: 6px;
}
.ticket-box h2{
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    margin-bottom: 0px;
}
.ticket-box h4{
    font-size: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}
.ticket-box h4 span{
    display: inline-block;
    width: 60px;
    color: #666;
}
.tickt-day{
    margin-top: 5px;
    font-size: 14px;
    margin-bottom: 10px;
    color: #222;
}
.ticket-box h3{
    font-size: 18px;
    font-weight: 600;
    margin: 0px;
}
.ticket-box h5{
    margin: 0px;
    font-weight: 700;
    font-size: 16px;
}
.ticket-nmber{
    width: 60px;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    padding: 0px 8px;
    color: #aea5a5;
    outline: 0px;
}
.registr-btn button{
    border: none;
    padding: 10px 35px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    border-radius: 4px !important;
}
.registr-btn{
    margin-top: 5px;
}
.adrss-boxes h4{
    font-size: 17px;
    font-weight: 600;
    margin: 8px 0px;
    text-align: center;
    line-height: 23px;
}
.adrss-boxes h5{
    color: #393939;
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 12px;
}
.adrss-boxes h6{
    color: #cbcbcb;
    margin: 15px 0px;
}
.adrss-boxes h2{
    font-size: 15px;
    font-weight: 600;
    margin: 5px 0px 20px;
}
.adrss-boxes i{
    color: #828282;
    margin-right: 8px;
    font-size: 12px;
}
.adrss-boxes h3{
    color: #828282;
    font-size: 14px;
    margin: 0px 0px 6px;
    text-align: center;
    line-height: 22px;
}
.time-arrow i{
    color: #929292 !important;
    margin: 0px 10px;
    font-size: 15px;
}
.adrss-boxes a{
    color: #181818;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
}
.add-clndr-tickt{
    border-radius: 4px;
    border: 1px solid #EBEBEB;
    background: #FFF;
    font-size: 15px;
    color: #b2292d;
    padding: 6px 20px;
    transition: 1s;
}
.add-clndr-tickt:hover{
    background-color: #b2292d;
    color: white;
    transition: 1s;
}
.adrss-boxes{
    border: 1px solid #ebebeb;
    border-radius: 16px;
    padding: 25px 25px;
    background: #FAFAFA;
    text-align: center;
}
.tickt-descrptn h3{
    font-size: 20px;
    color: #181818;
    margin-top: 40px;
    font-weight: 700;
}
.tickt-descrptn p{
    color: #797979;
}
.adrss-boxes p{
    font-size: 15px;
    color: #787777;
    margin-top: 12px;
    margin-bottom: 10px;
}
.adrss-boxes .social-icons i{
    width: 35px;
    height: 35px;
}
.tickt-modal-head{
    font-size: 18px;
    font-weight: 700;
    color: #181819;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 12px;
}
.tickt-modal-head span{
    color: #146c43;
    font-size: 15px;
    font-weight: 600;
}
.ticket-modal-form label{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #222;
}
.ticket-modal-form{
    margin-bottom: 10px;
}
.tcket-modal-header{
    background-color: #F8F8F8 !important;
    margin-bottom: 20px !important;
    padding: 10px 20px;
}
.tcket-modal-footer{
    border-top: none !important;
    margin-bottom: 5px;
}
.tcket-modal-body{
    padding: 0px 20px 10px !important;
}
.modal .btn-md {
    padding: 0.45rem 1.75rem;
    font-size: 13px;
    letter-spacing: .8px;
    font-weight: 600;
    display: flex;
    align-items: center;
    border-radius: 30px;
}
.background-all-tckt-div{
    background-image: url(../images/1.jpg);
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 30px;
    padding-bottom: 40px;
}
.tickt-modal-line{
    border: 1px solid #d2d2d2;
    margin: 15px 0px 20px;
}
.category-heading h4{
    color: #181818;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    margin: 0px;
}
.category-heading {
    background-color: #f4f4f4;
    padding: 15px 0px;
    border-radius: 6px;
    background-image: url(../images/bg.svg);
    background-position: 0% 121%;
    background-size: cover;
    width: 100%;
}
.main-session-div h4{
    font-size: 13px;
    font-weight: 700;
    margin: 10px 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.main-session-div h5{
    font-size: 14px;
    font-weight: 600;
    margin: 10px 0px;
    color: #7b7b7b;
}
.position-bord{
    height: 16px;
    width: 1px;
    background-color: #b8b8b8;
    margin: 0px 10px;
}
.speaker-social-media{
    margin-top: 15px !important;
}
.speaker-social-media a{
    text-decoration: none !important;
} 
.speaker-social-media a i:hover {
    background-color: #b2292d !important;
    transition: 1s;
}

.speaker-social-media i {
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-right: 5px;
    transition: 1s;
}
.sponsor-logo-box{
    height: 75px;
    width: 100%;
    border: 1px solid #e7e7e7;
    border-radius: 6px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sponsor-logo-box img{
    width: 80%;
    height: 60px;
    object-fit: contain;
}
.sponsor-logo{
    font-size: 15px;
    font-weight: 700;
    margin: 10px 0px 0px 0px;
    color: #181818;
}


.ticket-modal-form input:focus{
    box-shadow: none;
}
.adrss-boxes .social-icons i{
    font-size: 15px;
}

.not-published {
    background-image: url(../images/bg.svg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.not-published .cermonies {
    margin-top: -180px;
}

.not-published .cermonies img {
    width: 450px;
}

.not-published .cermonies h1 {
    font-weight: bold;
    font-size: 52px;
    color: #000237;
}

.navbar-toggler:focus{
    box-shadow: none;
}



.exhibitor-section{
    padding: 60px 0px;
}
.nav-regst-btn a{
    width: 150px;
}

.nav-regst-btn a button{
    float: right;
}
.exhibitor-div{
    padding-bottom: 15px;
    background: #fff;
    border-radius: 8px;
    margin: 40px 0px;
    cursor: pointer;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.10);
}
.exhibitor-head{
    border-bottom: 1px solid #ebebeb;
    padding: 15px 20px;
}
.exhibitor-head h2{
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 4px;
}
.exhibitor-head h4{
    font-size: 19px;
    font-weight: 600;
    color: #888;
    margin-bottom: 0px;
}
.exhibitor-details{
    padding: 20px;
}
.exhibitor-details p{
    font-size: 15px;
    line-height: 26px;
    margin-bottom: 18px;
}
.apply-spkr{
    padding: 5px 30px 7px;
}
.modal .form-grp {
    margin-bottom: 10px;
}
.modal .form-label {
    font-size: 13.4px;
    color: #263238;
    margin-bottom: 3px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -.3px;
}
.modal .form-control {
    font-size: 14px;
    padding: 0.35rem 0.7rem;
}
.footer-btns{
    display: flex;
    gap: 10px;
    margin-top: 15px;
}
#booth-modal .modal-header{
    padding: 0.85rem 2rem;
    background-color: #F8F8F8;
}
#booth-modal .modal-header h5 span{
    font-size: 20px;
    font-weight: 700;
    color: #222;
}
.modal-open{
    padding-right: 0px !important;
}
.tcket-modal-header .modal-title{
    font-size: 20px;
    font-weight: 700;
    color: #222;
}

.sponsor-maindiv{
    padding: 25px 0px 0px;
}

.sponsor-maindiv h3{
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 25px;
}


.qty-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin-left: 5px;
  }
  .qty-container .input-qty{
    text-align: center;
    padding: 2px 6px;
    border: 1px solid #efefef;
    max-width: 56px;
    border-radius: 0px;
    height: 26px;
    line-height: 15px;
    font-size: 16px;
  }
  .qty-container .qty-btn-minus,
  .qty-container .qty-btn-plus{
    border: 1px solid #f14d4c;
    background-color: #ffddd7;
    padding: 0px;
    font-size: 10px;
    color: #f14d4c;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
  }
  .qty-container .qty-btn-plus{
    margin-left: -1px;
  }
  .qty-container .qty-btn-minus{
    margin-right: -1px;
  }
  
  .qty-container .qty-btn-minus:hover,
  .qty-container .qty-btn-plus:hover{
    background-color: #222;
    color: white;
    border-color: #222;
    transition: 1s;
  }
  
  .qty-container .qty-btn-minus:focus,
  .qty-container .qty-btn-plus:focus{
    box-shadow: none;
  }

  .dang-alert{
    color: #fff;
    background-color: #de3333;
    border-color: #de3333;
    z-index: 999999999;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 15px;
    padding: 5px;
    box-shadow: 0px 0px 28px rgba(84, 80, 80, 0.3);
    border-radius: 50px;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 14px;
    padding-right: 25px;
}

.dang-alert img{
    border-radius: 100%;
    margin-right: 10px;
    width: 30px;
    border: 2px solid #fff;
}

.dang-alert .alert-close{
    background-color: #de3333;
    right: -9px;
    padding: 0px !important;
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 30px;
    color: #ffffff;
    font-size: 11px;
    line-height: 12px;
    font-weight: 600;
    border: 1px solid rgb(255 255 255 / 50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.succ-alert {
    color: #fff;
    background-color: #04B070;
    border-color: #04B070;
    z-index: 999999999;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 15px;
    padding: 5px;
    box-shadow: 0px 0px 28px rgba(84, 80, 80, 0.3);
    border-radius: 50px;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 14px;
    padding-right: 25px;
}

.succ-alert img {
    border-radius: 100%;
    margin-right: 10px;
    width: 30px;
}

.succ-alert .alert-close:hover{
    background-color: #10a56e;
}

.dang-alert .alert-close:hover {
    background-color: #cd2020;
}

.succ-alert .alert-close {
    background-color: #04b070;
    right: -14px;
}

.succ-alert .alert-close{
    padding: 0px;
    position: absolute;
    right: -9px;
    width: 22px;
    height: 22px;
    border-radius: 30px;
    color: #ffffff;
    font-size: 11px;
    line-height: 12px;
    font-weight: 600;
    border: 1px solid rgb(255 255 255 / 50%);
    display: flex;
    align-items: center;
    justify-content: center;

}

.blue-bg .d1 {
    position: absolute;
    bottom: 0;
    left: -180px;
    width: 24%;
}

.blue-bg .d2{
    position: absolute;
    bottom: -6px;
    right: -100px;
}

.blue-bg .d3 {
    position: absolute;
    bottom: 0;
    left: 78px;
}

.agenda-acco .accordion-item{
 margin-bottom: 15px;
 border: 0px;
}

.agenda-acco .accordion-item .accordion-button{
    color: #222;
    box-shadow: 0px 0px 6px rgb(0 0 0 / 9%);
    border-radius: 6px;
    font-weight: 700;
    font-size: 18px;
    padding: 12px 15px;
}

.agenda-acco .accordion-item .accordion-button span{
    font-size: 14px;
    font-weight: 600;
    padding-left: 15px;
}

.agenda-acco .accordion-button:not(.collapsed){
    background-color: #b2292d;
    color: white;
    margin-top: 3px;
    font-weight: 700;
    font-size: 18px;
    padding: 12px 15px;
    border-radius: 6px;
}

.agenda-acco .accordion-button:not(.collapsed)::after{
    filter: invert(1);
}

.mob-agenda{
    display: none;
}

.agenda-acco .accordion-button::after{
    background-size: 90%;
    background-position: center;
}

.agenda-acco .accordion-item:last-child{
    margin-bottom: 0px !important;
}

.sponsor-div-boxes{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.sponsor-div-boxes .sponsor-div{
    width: 220px;
}

.banner-box-div .navbar{
    padding: 16px 20px;
}
.reg-btn-mob{
    display: none;
}
.rasam2{
    display: none;
}